.navigation{
    list-style: none;
    display: flex;
    gap: 16px;

}

.header{
    border-radius: 4px;
    padding: 16px;
    border: 1px solid #f0f0f0;
}


.navigation > li > a:hover{
    color: #f0f0f0;
    text-decoration: underline;
}